
$form-tab-width: 100px;
$form-tab-height: 30px;
$form-tab-radius: $form-tab-height / 2;
$from-line-height: 25px;

.form-container {

  margin-bottom: 15px;

  .form-header {
    position: relative;
    @include display-flex();

    .tab-button  {
      display: inline-block;
      width: $form-tab-width;
      height: $form-tab-height;
      line-height: $form-tab-height;
      border: 1px solid $border-color;
      border-bottom: none;
      border-top-left-radius: $form-tab-radius;
      border-top-right-radius: $form-tab-radius;
      text-align: center;

      margin-right: -5px;
      background-color: $background-color-light;
      cursor: pointer;
      z-index: 0;

      @include transition-duration(.3s);

      &::first-letter {
        text-transform: capitalize;
      }

      &.selected {
        z-index: 1;
      }

      &:hover {
        background-color: $button-color-light;
      }
    }
  }

  .form-body {
    border: 1px solid $border-color;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    background-color: $background-color-light;

    label {
      text-transform: capitalize;
    }

    input {
      border: 1px solid $border-color;
      padding: 0 3px;
      @include border-radius(0);
      box-shadow: none;
    }

    label,
    input {
      display: block;
      width: 100%;
      height: $from-line-height;
      line-height: $from-line-height;
      text-align: left;
    }

    .form-item {
      margin-bottom: 15px;

      &.error input {
        background-color: yellow;
      }
    }

    .submit-button {
      width: 80%;
      height: $from-line-height * 1.5;
      line-height: $from-line-height * 1.5;
      text-transform: capitalize;
      border: 1px solid $border-color;
      @include border-radius(10px);
      font-size: 14px;
      cursor: pointer;
      margin: 15px auto 20px auto;
      background-color: $button-color;
      @include transition-duration(.3s);

      &:hover {
        background-color: $button-color-light;
      }
    }
  }
}
