
$page-header-height: 100px;

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $page-header-height;
  line-height: $page-header-height;
  background-color: #fff;
  font-size: 28px;
  padding: 0 20px;
  text-transform: capitalize;
  border-bottom: 1px solid $border-color;
}
