
@import '../../../libs/react-datepicker.scss';

$border-color: #ddd;
$font-color: #333;
$background-color-default: #fcfcfc;
$background-color-light: #ffffff;
$button-color: #e8e8e8;
$button-color-light: #f1f1f1;

@import './mixins.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  box-shadow: none;
  border: none;
  box-shadow: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: normal;
  color: $font-color;
}

body {
  min-width: 1020px;
  background: $background-color-default;
}

@import './header.scss';
@import './sidebar.scss';
@import './form.scss';
@import './slider.scss';
@import './results.scss';
