

@mixin display-flex() {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin justify-content($type) {
  -webkit-justify-content: $type;
  -moz-justify-content: $type;
  justify-content: $type;
}

@mixin align-self($type) {
  -webkit-align-self: $type;
  align-self: $type;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition-duration($duration) {
  -webkit-transition-duration: $duration;
  -moz-transition-duration: $duration;
  -o-transition-duration: $duration;
  transition-duration: $duration;
}
