
$search-result-header-height: 80px;
$search-result-item-height: 150px;
$search-result-item-width: 750px;
$airline-logo-width: 180px;
$flight-details-width: 120px;
$flight-details-line-height: 20px;

.search-results {
  margin: $page-header-height 0 $search-result-header-height $sidebar-width;
  padding: 10px;

  .result-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: $search-result-header-height;
    padding: 0 10px;
    margin-bottom: 15px;

    h4 {
      align-self: center;
      font-size: 24px;
      text-transform: capitalize;
      font-weight: normal;
    }

    .search-query {
      align-self: center;
      text-transform: capitalize;
    }
  }

  .result-list {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .search-result-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-self: center;

      min-width: $search-result-item-width;
      height: $search-result-item-height;
      padding: 15px 10px;
      margin-bottom: 15px;
      border: 1px solid $border-color;
      background-color: $background-color-light;
      
      .airline-logo {
        width: $airline-logo-width;
        height: 100%;
        margin-right: 10px;
        background-color: $border-color;
      }

      .flight-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: $flight-details-width;
        margin: 0 5px;

        .flight-from,
        .flight-destination,
        .splitter {
          display: inline-block;
        }

        .splitter {
          margin: 0 10px;
        }

        .flight-departure,
        .flight-arrival {
          text-transform: capitalize;
        }
      }

      .price {
        align-self: center;
        margin: 0 5px;
        font-size: 24px;
      }

      .select-button {
        align-self: center;
        height: 50px;
        margin-left: 10px;
        padding: 0 10px;
        font-size: 14px;
        border: 1px solid $border-color;
        border-radius: 10px;
        text-transform: capitalize;
      }
    }
  }
}
